{namespace mustard.colonal}

/**
 * The main man.
 */
{template .leadPipe}
In the billiard room.
{/template}

/**
 * @param name
 */
{template .themes}
You, {$name}, need a better theme for these examples.
{/template}
